
.olympiad-container-img {
  width: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
  padding:0;
}


.olympiad-container {
  width: 100%;
  margin: 0;
  color: #333;
  line-height: 1.7;
  padding: 30px 20px;
 
  background: linear-gradient(135deg, #fefaee, #ffffff);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.olympiad-intro {
  text-align: center;
  margin-bottom: 40px;
}

.olympiad-intro h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #0A3153;
  margin-bottom: 15px;
}

.olympiad-intro p {
  font-size: 1.1rem;
  font-weight: 545;
  margin: 10 px, auto;
  text-align: justify;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.olympiad-intro .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.olympiad-intro .btn {
  padding: 12px 25px;
  border: none;
  font-weight:bold;
  background-color: #0A3153;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.olympiad-intro .btn:hover {
  background-color: #1e4d63;
  transform: translateY(-3px);
}


section h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0A3153;
  margin: 30px 0 15px;
  border-bottom: 3px solid #0A3153;
  display: inline-block;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

table th, table td {
  border: 1px solid #765f5f;
  padding: 12px 15px;
  text-align: center;
}

table th {
  background-color: #0A3153;
  background-color: #0A3153;
  color: white;
}

.class-heading {
  background-color: #2a6f8f;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.contact{
  font-size: 1.1rem;
  font-weight: 550;
}

.rules {
  background: #e6f3f7;
  border-left: 6px solid #0A3153;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 550;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.rules ul {
  list-style-type: none;
  padding-left: 0;
}

.rules ul li {
  margin-bottom: 12px;
  padding: 8px 12px;
  background: #ffffff;
  border-left: 4px solid #0A3153;
  border-radius: 6px;
  transition: 0.3s;
}

.rules ul li:hover {
  background: #d6ecf1;
  transform: translateX(5px);
}


@media (max-width: 768px) {
  .olympiad-intro .buttons {
    flex-direction: column;
  }

  .olympiad-intro .btn {
    width: 100%;
    max-width: 250px;
  }

  table th, table td {
    font-size: 0.9rem;
    padding: 8px 10px;
  }
}

