.donate-container {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.donate-container h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #003366; 
    margin-bottom: 2.5rem;
    font-weight: bold;
}

 .donate-container p {
  font-size: 16px;
  color: #333;
  width: 80vw;
  margin: 0 auto 30px;
  text-align: justify;
  line-height: 1.7;
}

.donate-btn {
  background-color: #143d69;
  color: white;
  font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #0b2a4c;
  box-shadow: inset 0 1px 1px #5c82ac, 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

}

.donate-btn:hover {
  background-color: #0f2f52;
 transform: translateY(-2px);
  box-shadow: inset 0 1px 1px #5c82ac, 0 4px 6px rgba(0, 0, 0, 0.3);
}